.missionPopUp {
  width: 100%;

  background: url("../../../public/assets/img/backgrounds/earth-background.png");
  background-position: -500% center;
  background-repeat: no-repeat;

  color: white;
}

.missionBriefingContainer {
  margin: 0 2rem;
  margin-top: 20%;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5.370100021362305px);
  text-align: center;
}

.missionTeamSelectionContainer {
  margin: 0 2rem;
  margin-top: 20%;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  background-color: #213443;
  backdrop-filter: blur(5.370100021362305px);
}
