.badgeContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;


}
.badgeContainer div{
    width: 7rem;

}
.statContainer{
    display: flex;
    gap: 2rem;
}

.userAchievements{
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
    gap: 1rem
}

.achievementsTitle{
    text-align: center;
    margin: 1.5rem 0;
}

.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}